<%- include('partials/header') %>
<div class="container">

<h1 class="text-center bg-danger text-white p-3">
    Sign Up
</h1>

<div class="row py-5 justify-content-center align-items-center">
    <div class="col-6 ">
        <div class="card py-5">
            <div class="spinner-overlay justify-content-center align-items-center">
                <div class="spinner-border spinner-border-lg"></div>
            </div>
            <img src="https://pbs.twimg.com/profile_images/446356636710363136/OYIaJ1KK.png" alt="React icon" class="m-auto w-25 rounded-circle">
            <div class="card-content">
                <div class="card-body">
                    <form action="/signup" method="POST" id="su-form">
                    <div class="form-group">
                        <label for="email-signup" class="text-left">Email</label>
                        <input name="email" type="text" class="form-control "  id="email-signup">
                            <div class="alert alert-warning alert-dismissible fade show my-3" data-alert="email">
                                <button class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
                            </div>
                    </div>
                    <div class="form-group">
                        <label for="email-signup" class="text-left">Password</label>
                        <input name="password" type="password" class="form-control "  id="password-signup">
                            <div class="alert alert-warning alert-dismissible fade show my-3" data-alert="password">
                                <button class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <small class="text-muted">Minimum length is 6 characters</small>
                    </div>
                    <div class="form-group">
                        <input value="Sign Up" class="btn btn-primary form-control btn-lg m-auto" type="submit">
                    </div>
                    </form>
                    <small class="lead">Already has an account? <a href="/signin">Sign in </a></small>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    const form = document.getElementById('su-form');
    form.addEventListener('submit',async (e)=>{
        e.preventDefault();
       document.querySelector('.spinner-overlay').style.display='flex'
        const email = form.email.value, 
        password = form.password.value;
       try{
        const req = await fetch('/signup', {
            method:'POST',
            headers:{
                'Content-Type':'application/json'
            },
            body:JSON.stringify({email, password}),
        });
        //this will get the response from the server if error or success from server
        const res = await req.json();
        if(res.email == undefined && res.password == undefined){
        location.replace('/')
        }else{
       document.querySelector('.spinner-overlay').style.display='none'
        Array.from(document.getElementsByClassName('alert')).forEach(alert=>{
            alert.textContent ="";
            alert.style.display = "none";
            if(res[alert.dataset.alert]){
                alert.textContent = res[alert.dataset.alert];
                alert.style.display = "block"
            }
        })
       }}catch(err){
        location.replace(`/error/400`)
       }
    })
</script>
<%- include('partials/footer')%>